.sidebar {
    width: 300px;
    height: 100vh;
    padding: 20px;
    background: #433c3c;
}

.title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 7px;
    /* background: #FF6900; */
    border: 5px solid #a834fb;
    border-radius: 20px;
    color: #fff;
    padding: 5px 20px;
}

.userMe {
    background: #a834fb;
    color: #fff;
}